:root {
   
    --footer-text-color: #fff5ee;
    --first-accent-color: #057f84;
   --third-accent-color:#757575;
    --second-accent-color: #ffb188;
   
  }
  
  
  body {
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
    background-image: linear-gradient(90deg,  #ffb188 0%,  #057f84 100%);
  }
  
 
  
  h1 {
    font-size: 30px;
    margin-bottom: 0vw;

  }
  
  h2 {
    font-size: 35px;
    font-weight: 0;
  }

  .name,
  .profession {
    font-family: "AlbulaPro-Bold", Verdana, Tahoma, sans-serif;
    font-weight: bold;;
  }
  
  .navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
 
  .profession:hover {
    text-decoration: underline;
    text-decoration-color: #057f84;
}
    #ukr{
    width: 300px;
  }
  .homepage {
    display: flex;
    min-height: 100vh;
    height: fit-content;
    padding: 2.08vw 4.16vw;
  }
  .homepage-text-block {
    margin: 100px 0 0 0.8vw;
  }
  .name {
    font-size: 30px;
    color: var(--first-accent-color);
  
  }
  
  .profession {
    font-size: 30px;
  }
  .container-fluid {
     display: flex;
    justify-content: center;
    min-height: 65vh;
    margin: 0px;
    padding: 40px;
  }
  .box {
    position: relative;
    margin-top: 20px;
    margin-left: 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
  }
  .box::before {
    content: "";
    position: absolute;
    inset: -10px 120px;
    background: linear-gradient(
      15deg,
      var(--first-accent-color),
      var(--second-accent-color)
    );
    transition: 0.5s;
    animation: animate 4s linear infinite;
  }
  .box:hover::before {
    inset: -20px 0px;
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }
  .box::after {
    content: "";
    position: absolute;
    inset: 6px;
   
    border-radius: 50%;
    z-index: 1;
  }
  .content {
    position: absolute;
    inset: 30px;
    border: 10px solid var(--footer-text-color);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }
  .box:hover .content img {
    opacity: 0;
  }
  
  .content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--first-accent-color);
    color: var(--second-accent-color);
    border-radius: 1px 40px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
  }
  .content a:hover {
    letter-spacing: 0.1em;
  }
  .contact-icons-block {
    font-size: 30px;
    margin-top: -90px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .contact-icons-block a {
    color: white;
    background: #05808462;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 25px;
    text-decoration: none;
    transition: all 100ms ease-out;
  }
  .contact-icons-block a:hover {
    background-color: var(--first-accent-color);
  }
  .nav-link a {
    padding: 60px;
  }
  
  .nav-link:hover {
    color: var(--second-accent-color);
  }
  .active {
    color: var(--second-accent-color) !important;
  }
  .navbar-nav {
    margin-right: 2vw;
    align-self: flex-end;
  }
  .navbar,
  .container-fluid,
  .navbar-brand {
    padding: 0;
    font-size: 22px;
    margin-left: -6px;
  }
  .navbar-brand {
    font-weight: bold;

   
  } 
  .navbar-nav {
    margin-right: 2vw;
    align-self: flex-end;
  }
  
  .nav-link {
    font-size: 20px;
    margin: 0px 10px;
    padding: 4px 10px !important;
    color: var(--footer-text-color) 
  }    
  .edu {
    font-family: "Nunito Sans", Verdana,  Tahoma, sans-serif;
    text-align: center;
    padding: 25px;
    font-size: 34px;
    text-transform: uppercase;
    
  }
  .education {
    font-family: "Nunito Sans", Verdana,  Tahoma, sans-serif;
    padding-left: 36px;
  }
  .diploma {
    font-family: "Nunito Sans", Verdana,  Tahoma, sans-serif;
    font-size: 17px;
  }
  .discription {
    font-size: 15px;
 
  }
  .high {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  h3{
    text-align: center;
  }
  .main-skill-list {
    font-size: 1.7vw;
    margin-bottom: 2vw;

  }
  .check-list-style1 {
    font-size: 1.7vw;
    color: var(--first-accent-color);
    margin-top: 6px;
    margin-left: 22px;
  }
  
  
  .check-list-style {
    font-size: 1.7vw;
    color: var(--first-accent-color);
    margin-top: 6px;
    margin-left: 30px;
  }
  
  .main-skill-list p {
    font-family: "Nunito Sans", Verdana, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 1vw;
  }
  

  .expertise,
  .tools {
    font-family: "Nunito Sans", Verdana,  Tahoma, sans-serif;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 130%;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
  }
  
  .expertise li,
  .tools li {
    margin-bottom: 0.5vw;
  }
  
  .more-info-btn {
    display: flex;
    line-height: 120%;
    text-align: left;
    margin: 30px 0 auto auto;
    padding: 0 1vw;
  }
  
  .more-info-btn div {
    align-self: center;
  }
  
  .more-info-btn i {
    font-size: 2vw;
    color: var(--main-gray-color);
    align-self: center;
  }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
  color: var(--footer-text-color);
  text-align: center;
  font-size: 1.7vw;
}
.get-in-touch {
  position: relative;
  top: 1px;
}

.get-in-touch p {
  color: var(--second-accent-color);
  position: relative;
  top: 8vw;
}

.contact-content {
  display: flex;
  flex-direction: column;
  height: 65vh;
  
}
.contact-content p {
  margin: 4.5vh 0 5.4vh;
}

.email-info {
  font-size: 2.9vw;
  margin-bottom: 5.4vh;
}

.email-info a {
  color: var(--footer-text-color);
}
.contact-icons-block-contact {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.contact-icons-block-contact a {
  color: white;
  background: #eaf1f162;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 25px;
  text-decoration: none;
  transition: all 100ms ease-out;
}




.portfolio-title {
  font-size: 1.3vw;
}

.portfolio-title-description {
  font-size: 2.9vw;
  text-align: center;
}

.project-row {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding: 50px 0;
}

.project-img {
  width: 45vw;
  height: 27vw;
  border-radius: 1.25vw 1.25vw 1.25vw 1.25vw;
  padding-left: 20px;
  align-self: center;
}

.project-info {
  width: 35vw;
  align-self: center;
}

.project-description,
.tech-features {
  font-size: 1.7vw;
  line-height: 130%;
}
.project-description {
  margin-bottom: 1.56vw;
}
.tech-features {
  color: var(--second-accent-color);
  margin-bottom: 2.6vw;
}
.project-links {
  display: flex;
  justify-content: space-between;
}

.project-links i {
  font-size: 3.9vw;
  color: var(--first-accent-color);
}
.contact-me {
  background: #05808462;
  margin: 50px 80px;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
}
.contact-me h3 {
  font-size: 48px;
  text-align: left;
  margin-bottom: 0;
}

.contact-me p {
  font-size: 24px;
  margin-top: 10px;
  color: #000000a2;
}

.contact-me a {
  background-color: var(--theme-background);
  font-size: 24px;
  padding: 15px 30px;
}

.email-block {
  margin: 30px;
  font-size: 36px;
  text-align: center;
}
.email-block a {
  text-decoration: none;
  color: var(--footer-text-color);
}
.email-block a:hover {
  color: var(--first-accent-color);
}

.contact-icons-block {
  font-size: 30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.contact-icons-block a {
  color: white;
  background: #05808462;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 25px;
  text-decoration: none;
  transition: all 100ms ease-out;
}

.contact-icons-block a:hover {
  background-color: var(--first-accent-color);
}


/* Homepage portrait orientation screen responsive */
@media screen and (orientation: portrait) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  .name {
    font-size: 4.6vw;
  }

  .profession {
    font-size: 6vw;
  }
  .homepage-center-block {
    margin-top: 100px;
    flex-direction: column;
  }
  .homepage-text-block {
    position: static;
    text-align: center;
    margin: 0;
  }
  .homepage-img {
    width: auto;
    max-width: 90%;
    max-height: 50vh;
    margin: 5vh auto;
  }
  .homepage i {
    font-size: 2vh;
  }
  .skills,
  .portfolio,
  .project-row {
    min-height: fit-content;
  }

  /* Contacts */

  .contacts {
    font-size: 2vh;
  }
  .email-info {
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .contact-icons a {
    font-size: 5vh;
  }
  .contact-icons img {
    height: 4.5vh;
  }
  .copyright {
    font-size: 1.8vh;
  }
}

@media (max-width: 900px) {
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 30px;
    margin-bottom: 2.6vw;
  }
  h6 {
    display: none;
  }
  .check-list-style {
    font-size: 18px;
    margin-top: 4px;
  }
  .main-skill-list {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 0;
  }
  .main-skill-list p {
    font-size: 12px;
  }
  .expertise,
  .tools {
    font-size: 18px;
  }

  .portfolio-title {
    font-size: 16px;
  }

  .portfolio-title-description {
    font-size: 20px;
  }
  .project-row {
    flex-direction: column;
    justify-content: center;
  }

  .project-img {
    width: 90vw;
    height: 54vw;
    border-radius: 12px 12px 6px 6px;
  }

  .project-info {
    width: 90vw;
    margin-top: 40px;
  }

  .project-description,
  .tech-features {
    font-size: 18px;
  }
  .project-description {
    margin-bottom: 15px;
  }
  .tech-features {
    margin-bottom: 30px;
  }
  .project-links {
    justify-content: flex-start;
  }

  .btn-fill,
  .btn-transparent {
    font-size: 14px;
    width: 140px;
    height: 42px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 6px;
  }

  .project-links i {
    font-size: 42px;
  }

  .contact-me {
    flex-direction: column;
  }
  .contact-me h3,
  .contact-me p {
    text-align: center;
  }
  .contact-me a {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .project-links {
    justify-content: space-between;
  }
  .btn-fill,
  .btn-transparent {
    margin-right: 0;
  }

  .contact-me {
    margin: 50px 40px;
    padding: 50px 40px;
  }
  .contact-me h3 {
    font-size: 24px;
  }

  .contact-me p {
    font-size: 14px;
  }

  .contact-me a {
    font-size: 18px;
  }
  .email-block {
    font-size: 24px;
  }

  .contact-icons-block {
    font-size: 20px;
  }
  .contact-icons-block a {
    width: 45px;
    height: 45px;
  }
}
.btnproject{
border-radius: 10ch;
color:var(--footer-text-color);
font-size: 25px;
   
}
.btnproject:hover{
  background-image: linear-gradient(90deg,  #ffb188 0%,  #057f84 100%);
  color:var(--footer-text-color);
  width: 200px;
  height: 42px;
text-align: center;
  border-radius: 6px;
}